@font-face {
  font-family: 'AnonymousPro-Regular';
  src: url('fonts/AnonymousPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KarmaticArcade';
  src: url('fonts/ka1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'AnonymousPro-Regular';
  margin: auto;
  font-size: 1em;
}

.wrap-manifest {
  max-width: 60em;
	margin: 0 auto;
  padding: 2em;
  display: flex;
  flex-flow: column-reverse;
}

.manifest-txt {
  font-size: .9em;
}

.firma img {
  max-width: 6em;
}

.art-rlab img {
  max-width: 17em;
}

.art-rlab h1 {
  font-size: 1em;
  font-family: 'KarmaticArcade';
  margin-top: -3em;
}

.sepa {
  text-align: center;
}

/* media query breakpoints  */

/* // Medium devices (tablets, 576px) */
@media (min-width: 36em) {
  .art-rlab img {
    max-width: 33em;
  }

  .art-rlab h1 {
    margin-top: -5em;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 62em) {
  .wrap-manifest {
    display: flex;
    flex-flow: row nowrap;
    padding: 2em 10em;
  }

  .sepa {
    display: none;
  }
  
  .manifest-txt {
    max-width: 35em;
    padding-right: 3em;
  }
  
  .art-rlab img {
    max-width: 22em;
  }
  
  .firma img {
    max-width: 7em;
  }
}

/* // Full HD devices (desktops, 1080px and up) */
@media (min-width: 120em) {
  .art-rlab h1, .art-rlab p {
    max-width: 32em;
  }
}